<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="content">
		<div id="top">
			<div class="topright">
			 	<a href="#"><img src="/assets/sitemap.png" alt="Sitemap" /></a> ^ 
			 	<a href="#"><img src="/assets/rss.png" alt="RSS" /></a>				
			</div>
		</div>
		<div id="header">
			
			<div class="headings">
				<h1>MyApp on Rails 7</h1>
				<h2>Ruby on Rails</h2>
			</div>
		</div>
	
			<div id="menu">
			  	<ul>
					<li><a href="#">link.one</a></li>
					<li><a href="#">link.two</a></li>
					<li><a href="#">link.three</a></li>
					<li><a href="#">link.four</a></li>
      				<li><a href="#">link.five</a></li>
      				<li><a href="#">link.six</a></li>
      			</ul>
			</div>	
			
		
		<div id="main">
			<div class="right">
				
				
				<div class="nav">
				<h2>Right Column</h2>
				<div class="text">
			You could use this space to display the latest news, a calendar, random photos, the choice is yours, its here if you need it.
				</div>
				<h2>More Links?</h2>
					<ul>
						<li><a href="http://www.openwebdesign.org">OWD</a></li>
						<li><a href="http://www.designcreek.com">DesignCreek</a></li>
						<li><a href="#">Link.three</a></li>
						<li><a href="#">Link.four</a></li>
						
					</ul>
				</div>
			</div>
			<div class="left">
				<h2><a href="#">Book Details</a></h2>
				
						
			<%= yield %>
      	
				
				
				


			</div>
			
		</div>
		
		<div id="footer">
			<div class="info">
				&copy; 2006 Your Site<br />
				Site Design - <a href="http://www.designcreek.com">DesignCreek</a>
			</div>
		</div>
	</div>
  
  </body>
</html>
